In [2]:
#using pandas working with a dataset "iris dataset"
import pandas as pd
path="/content/IRIS.csv"   #path mentioned if needed
df=pd.read_csv('IRIS.csv')  #reading the dataset
#to read excel file: df=pd.read_excel('iris.excel')
print(df.shape)           #shows the dimension of dataset
print(df.ndim)            #no. of dimension of dataset

type(df)  #already in data frame type 
df  #prints the dataset

(150, 5)
2

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [19]:
df.head()   #shows some starting data

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [20]:
df.tail()  #shows some end data in dataset

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [21]:
df.head(6)  #top 6 dataset is shown

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa

In [22]:
df.shape  #shows shape of dataset

(150, 5)

In [23]:
df.ndim  #shows no. of dimesnion of dataset

2

In [24]:
type(df)  #shows type of dataset   #already a dataframe type
#we mostly require dataframe type
# if it is not there convert to dataframe using the commend line code:
# df=pd.DataFrame(df.data,colums=df.colsname)

pandas.core.frame.DataFrame

In [3]:
#exporting dataframe to a csv file
df.to_csv('IRIS.csv')     #used to export the dataframe as csv for submission 
#df.to_excel('IRIS.csv')   #used to export the dataframe as excel for submission